<div
  class="bg-primary text-white flex items-center justify-center flex-col min-h-[100vh]"
>
  <form
    [formGroup]="contactForm"
    (ngSubmit)="submitForm()"
    class="bg-dark p-6 rounded-md shadow-lg w-full max-w-md"
  >
    <h2 class="text-2xl font-bold mb-4 text-center">Leave a message</h2>

    <!-- Full Name Field -->
    <div class="mb-4">
      <label for="fullName" class="block mb-1">Full Name</label>
      <input
        id="fullName"
        formControlName="fullName"
        type="text"
        class="w-full p-2 rounded-md bg-gray-800 text-white border border-gray-600 focus:outline-none focus:ring-2 focus:ring-blue-500"
        placeholder="Enter your full name"
      />
    </div>

    <!-- Email Field -->
    <div class="mb-4">
      <label for="email" class="block mb-1"
        >Email <sup class="text-red-900 text-lg">*</sup>
      </label>
      <input
        id="email"
        formControlName="email"
        type="email"
        class="w-full p-2 rounded-md bg-gray-800 text-white border border-gray-600 focus:outline-none focus:ring-2 focus:ring-blue-500"
        placeholder="Enter your email"
      />
      <div
        *ngIf="
          contactForm.get('email')?.invalid && contactForm.get('email')?.touched
        "
        class="text-red-400 text-sm mt-1"
      >
        <small *ngIf="contactForm.get('email')?.errors?.['required']">
          Email is required.
        </small>
        <small *ngIf="contactForm.get('email')?.errors?.['email']">
          Enter a valid email.
        </small>
      </div>
    </div>

    <!-- Message Field -->
    <div class="mb-4">
      <label for="message" class="block mb-1"
        >Message <sup class="text-red-900 text-lg">*</sup></label
      >
      <textarea
        id="message"
        formControlName="message"
        rows="4"
        class="w-full p-2 rounded-md bg-gray-800 text-white border border-gray-600 focus:outline-none focus:ring-2 focus:ring-blue-500"
        placeholder="Enter your message"
      ></textarea>
      <div
        *ngIf="
          contactForm.get('message')?.invalid &&
          contactForm.get('message')?.touched
        "
        class="text-red-400 text-sm mt-1"
      >
        <small>Message is required.</small>
      </div>
    </div>

    <!-- Submit Button -->
    <button
      type="submit"
      [disabled]="contactForm.invalid"
      class="w-full bg-secondary hover:bg-secondary hover:bg-opacity-90 text-primary font-medium py-2 px-4 rounded-md disabled:opacity-50 disabled:cursor-not-allowed"
    >
      Submit
    </button>
  </form>

  <!-- Go back button -->
  <div class="mt-5">
    <div *ngIf="currentPath === '/contacts'">
      <a
        routerLink="/"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        class="flex space-x-2 text-slate-500"
      >
        <span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25"
            />
          </svg>
        </span>
        <span>Take me Home</span>
      </a>
    </div>
  </div>
</div>
