<div>
  <!-- Scroll to top button -->
  <app-scroll-to-top></app-scroll-to-top>

  <!-- Navbars -->
  <ng-content>
    <div class="hidden lg:block">
      <app-navbar-desktop></app-navbar-desktop>
    </div>

    <div class="lg:hidden">
      <app-mobile-navbar></app-mobile-navbar>
    </div>
  </ng-content>

  <!-- All the section of the homepage -->
  <ng-content>
    <div class="px-[1rem] sm:px-[2rem] lg:px-[7rem] bg-primary">
      <app-landing-page></app-landing-page>
    </div>
    <div class="px-[1rem] sm:px-[2rem] lg:px-[7rem] bg-primary2">
      <app-education-experience></app-education-experience>
    </div>
    <div class="px-[1rem] sm:px-[2rem] lg:px-[7rem] bg-primary">
      <app-about-me></app-about-me>
    </div>
    <div class="px-[1rem] sm:px-[2rem] lg:px-[7rem] bg-primary2">
      <app-teck-stack></app-teck-stack>
    </div>
    <div class="bg-primary">
      <app-projects></app-projects>
    </div>
    
    <div class="px-[1rem] sm:px-[2rem] lg:px-[7rem] bg-primary">
      <app-services></app-services>
    </div>
    <div class="px-[1rem] sm:px-[2rem] lg:px-[7rem] bg-primary">
      <app-newsletters></app-newsletters>
    </div>
  </ng-content>
  <div class="px-[1rem] sm:px-[2rem] lg:px-[7rem] bg-primary2">
    <app-footer></app-footer>
  </div>
</div>
