<div class="lg:px-[7rem] bg-primary text-white pb-24">
  <div class="flex flex-col items-center pt-16">
    <!-- headings -->
    <div class="pb-16 flex flex-col items-center">
      <app-small-heading-wrapper
        [heading]="'Projects Collection'"
      ></app-small-heading-wrapper>

      <app-large-heading-wrapper
        [heading]="'All my creations'"
      ></app-large-heading-wrapper>

      <app-large-heading-wrapper
        [heading]="'one collection'"
      ></app-large-heading-wrapper>
    </div>

    <!-- projects -->
    <div class="flex flex-col items-center lg:space-y-10">
      <div class="flex flex-wrap justify-center 2xl:justify-between gap-10">
        <a
          [href]="waadiyon"
          target="_blank"
          class="hover:scale-105 transition-transform duration-75 cursor-pointer"
        >
          <div class="absolute bg-secondary text-primary">
            <span class="p-3 text-sm">ReactJS, Tawilwind</span>
          </div>
          <img
            [src]="img1_waadiyon"
            alt="Project"
            class="rounded-sm h-48 w-72 object-cover"
          />
          <h2
            class="lg:text-xl capitalize text-center p-2 border-2 border-slate-700 border-t-0"
          >
            Waadiyon - tours & travels
          </h2>
        </a>
        <a
          [href]="emailDb"
          target="_blank"
          class="hover:scale-105 transition-transform duration-75 cursor-pointer"
        >
          <div class="absolute bg-secondary text-primary">
            <span class="p-3 text-sm">ReactJS, NodeJS</span>
          </div>
          <img
            [src]="img2_emaildb"
            alt="Project"
            class="rounded-sm h-48 w-72 object-cover"
          />
          <h2
            class="lg:text-xl capitalize text-center p-2 border-2 border-slate-700 border-t-0"
          >
            emailDB
          </h2>
        </a>
        <a
          [href]="foodPanda"
          target="_blank"
          class="hover:scale-105 transition-transform duration-75 cursor-pointer"
        >
          <div class="absolute bg-secondary text-primary">
            <span class="p-3 text-sm">Bootstrap, ReactJS</span>
          </div>
          <img
            [src]="img3_food_panda"
            alt="Project"
            class="rounded-sm h-48 w-72 object-cover"
          />
          <h2
            class="lg:text-xl capitalize text-center p-2 border-2 border-slate-700 border-t-0"
          >
            FoodPandaZ
          </h2>
        </a>
        <a
          [href]="compressor"
          target="_blank"
          class="hover:scale-105 transition-transform duration-75 cursor-pointer"
        >
          <div class="absolute bg-secondary text-primary">
            <span class="p-3 text-sm">ReactJS, Bootstrap</span>
          </div>
          <img
            [src]="img4_compressor"
            alt="Project"
            class="rounded-sm h-48 w-72 object-cover"
          />
          <h2
            class="lg:text-xl capitalize text-center p-2 border-2 border-slate-700 border-t-0"
          >
            Images compressor
          </h2>
        </a>
        <a
          [href]="blog"
          target="_blank"
          class="hover:scale-105 transition-transform duration-75 cursor-pointer"
        >
          <div class="absolute bg-secondary text-primary">
            <span class="p-3 text-sm">Express, NodeJS</span>
          </div>
          <img
            [src]="img5_blog"
            alt="Project"
            class="rounded-sm h-48 w-72 object-cover"
          />
          <h2
            class="lg:text-xl capitalize text-center p-2 border-2 border-slate-700 border-t-0"
          >
            Codebinds Blogs
          </h2>
        </a>
        <a
          [href]="gkTraveller"
          target="_blank"
          class="hover:scale-105 transition-transform duration-75 cursor-pointer"
        >
          <div class="absolute bg-secondary text-primary">
            <span class="p-3 text-sm">Bootstrap, ReactJS</span>
          </div>
          <img
            [src]="img6_gktraveller"
            alt="Project"
            class="rounded-sm h-48 w-72 object-cover"
          />
          <h2
            class="lg:text-xl capitalize text-center p-2 border-2 border-slate-700 border-t-0"
          >
            Gangtok Traveller
          </h2>
        </a>
        <a
          [href]="generalKnowledge"
          target="_blank"
          class="hover:scale-105 transition-transform duration-75 cursor-pointer"
        >
          <div class="absolute bg-secondary text-primary">
            <span class="p-3 text-sm">HTML & CSS, JavaScript</span>
          </div>
          <img
            [src]="img7_gk"
            alt="Project"
            class="rounded-sm h-48 w-72 object-cover"
          />
          <h2
            class="lg:text-xl capitalize text-center p-2 border-2 border-slate-700 border-t-0"
          >
            General knowledge
          </h2>
        </a>
        <a
          [href]="textAnalyzer"
          target="_blank"
          class="hover:scale-105 transition-transform duration-75 cursor-pointer"
        >
          <div class="absolute bg-secondary text-primary">
            <span class="p-3 text-sm">HTML & CSS</span>
          </div>
          <img
            [src]="img8_text_analyzer"
            alt="Project"
            class="rounded-sm h-48 w-72 object-cover"
          />
          <h2
            class="lg:text-xl capitalize text-center p-2 border-2 border-slate-700 border-t-0"
          >
            Text Analyzer
          </h2>
        </a>
        <a
          [href]="checklist"
          target="_blank"
          class="hover:scale-105 transition-transform duration-75 cursor-pointer"
        >
          <div class="absolute bg-secondary text-primary">
            <span class="p-3 text-sm">HTML & CSS, JavaScript</span>
          </div>
          <img
            [src]="img9_check_list"
            alt="Project"
            class="rounded-sm h-48 w-72 object-cover"
          />
          <h2
            class="lg:text-xl capitalize text-center p-2 border-2 border-slate-700 border-t-0"
          >
            Checklist
          </h2>
        </a>
      </div>

      <div>
        <a [href]="npmPackagesUrl" class="border hover:border-secondary text-secondary  hover:text-primary hover:bg-secondary cursor-pointer block mt-10 py-5  px-8 w-full">
          <span class="font-medium rounded-sm">
            NPM / Yarn  Utility Packages
          </span>
          </a>
      </div>
    </div>

    <!-- Go back button -->
    <div class="mt-16">
      <div *ngIf="currentPath === '/projects'">
        <a
          routerLink="/"
          routerLinkActive="active"
          class="flex space-x-2 text-slate-500"
        >
          <span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25"
              />
            </svg>
          </span>
          <span>Take me Home</span>
        </a>
      </div>
    </div>
  </div>
  <div class="border-b border-ternary"></div>
</div>
