<app-dashboard>
  <div class="mb-8 bg-white rounded-lg shadow-md p-6">
    <!-- If the content is there then show it -->
    <div *ngIf="contacts?.length > 0" class="">
      <!-- <h1 class="text-2xl font-semibold mb-4">Contacts</h1> -->
      <table class="min-w-full table-auto">
        <thead>
          <tr class="text-left">
            <th class="px-4 py-2">#</th>
            <th class="px-4 py-2">Full Name</th>
            <th class="px-4 py-2">Email</th>
            <th class="px-4 py-2">Message</th>
            <!-- <th class="px-4 py-2">Addressed</th> -->
            <th class="px-4 py-2">Addressed On</th>
            <th class="px-4 py-2">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let contact of contacts; let i = index"
            id="custom-cursor"
            class="border-t hover:border hover:scale-x-100 hover:scale-y-105 hover:shadow-2xl transition-transform hover:bg-secondary hover:bg-opacity-10"
          >
            <td class="px-4 py-2">{{ i + 1 }}</td>
            <td class="px-4 py-2">{{ contact.full_name }}</td>
            <td class="px-4 py-2">{{ contact.email }}</td>
            <td
              class="px-4 py-2 flex flex-nowrap space-x-1 items-center cursor-pointer"
              (click)="handleViewMessage(contact?.contact_id)"
            >
              <span>View</span>
              <span
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="size-5"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z"
                  />
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
                  />
                </svg>
              </span>
            </td>
            <!-- <td class="ps-8 py-2">
              {{ contact.message_addressed ? "YES" : "NO" }}
            </td> -->
            <td class="ps-8 py-2">
              {{ contact?.message_addressed_on || "N/A" }}
            </td>
            <td class="ps-4 py-2 flex gap-2 items-center">
              <!-- <span class="cursor-pointer hover:text-red-700">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="size-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0"
                  />
                </svg>
              </span> -->
              <a [href]="'mailto:' + contact?.email">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="size-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M8.625 9.75a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H8.25m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H12m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0h-.375m-13.5 3.01c0 1.6 1.123 2.994 2.707 3.227 1.087.16 2.185.283 3.293.369V21l4.184-4.183a1.14 1.14 0 0 1 .778-.332 48.294 48.294 0 0 0 5.83-.498c1.585-.233 2.708-1.626 2.708-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0 0 12 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018Z"
                  />
                </svg>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- When there is empty list -->
    <div *ngIf="contacts?.length < 0">
      <div
        class="flex justify-center items-center w-full h-[60vh] text-slate-400"
      >
        No contacts details found!
      </div>
    </div>

    <!-- Modal -->
    <div
      *ngIf="viewMessage"
      class="fixed inset-0 flex justify-center items-center bg-gray-500 bg-opacity-50 z-50"
    >
      <div class="bg-white p-4 rounded-lg shadow-lg w-80 max-w-full">
        <div class="flex justify-between">
          <div
            class="mb-1 text-lg font-semibold text-slate-800 flex items-center space-x-1 flex-nowrap"
          >
            <span class="pe-1">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M20.25 8.511c.884.284 1.5 1.128 1.5 2.097v4.286c0 1.136-.847 2.1-1.98 2.193-.34.027-.68.052-1.02.072v3.091l-3-3c-1.354 0-2.694-.055-4.02-.163a2.115 2.115 0 0 1-.825-.242m9.345-8.334a2.126 2.126 0 0 0-.476-.095 48.64 48.64 0 0 0-8.048 0c-1.131.094-1.976 1.057-1.976 2.192v4.286c0 .837.46 1.58 1.155 1.951m9.345-8.334V6.637c0-1.621-1.152-3.026-2.76-3.235A48.455 48.455 0 0 0 11.25 3c-2.115 0-4.198.137-6.24.402-1.608.209-2.76 1.614-2.76 3.235v6.226c0 1.621 1.152 3.026 2.76 3.235.577.075 1.157.14 1.74.194V21l4.155-4.155"
                />
              </svg>
            </span>
            <!-- <span>From</span> -->
            <span class="capitalize">{{ messageFrom }}</span>
          </div>
          <div
            class="cursor-pointer hover:text-red-600 text-slate-500"
            (click)="viewMessage = false"
          >
            <span
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
                />
              </svg>
            </span>
          </div>
        </div>
        <hr class="py-1" />
        <div class="text-sm text-gray-600">
          {{ messageDetails || "Not Available" }}
        </div>
        <div class="mt-4 text-right"></div>
      </div>
    </div>
  </div>
</app-dashboard>
