<div class="py-16 text-white">
  <ng-content>
    <div class="flex items-center flex-col">
      <h1 class="text-xl md:text-2xl lg:text-3xl font-bold">
        SUBSCRIBE MY NEWSLETTER
      </h1>
      <div class="text-slate-500 text-sm lg:text-[1rem]">
        ~Get weekly mail on latest technology~
      </div>

      <!-- Input field -->
      <div class="mt-8">
        <form
          class="border border-secondary p-2 bg-ternary flex space-x-1 md:space-x-4"
        >
          <input
            type="text"
            [formControl]="email"
            class="bg-ternary border-ternary px-1 md:px-5 border-0 focus:outline-none focus:border-0 font-medium"
            placeholder="yourmail@gmail.com"
          />

          <button
            type="button"
            (click)="newslettersSubscribed()"
            class="text-primary font-semibold bg-secondary px-2 md:px-8 py-2 md:py-3"
          >
            Notify
          </button>
        </form>
      </div>

      <!-- Show error message if email is invalid -->
      <div *ngIf="email.invalid && email.touched" class="text-red-500">
        Please enter a valid email address.
      </div>
    </div>
  </ng-content>
</div>
