<div class="text-white py-16">
  <div>
    <div class="flex flex-col items-center">
      <!-- Headings -->
      <ng-container>
        <app-small-heading-wrapper
          [heading]="'Education & Experience'"
        ></app-small-heading-wrapper>

        <app-large-heading-wrapper
          [heading]="'professional and academic'"
        ></app-large-heading-wrapper>
        <app-large-heading-wrapper
          [heading]="'milestones at a glance'"
          [is_center]="true"
        ></app-large-heading-wrapper>
      </ng-container>

      <ng-container>
        <div class="w-full mt-16">
          <div class="flex justify-between flex-wrap">
            <div class="md:max-w-[46%]">
              <div class="flex justify-between">
                <div
                  class="text-[11px] md:text-sm lg:text-base font-medium capitalize border p-2 border-secondary text-secondary"
                >
                  June 2024 - Present
                </div>
                <div
                  class="text-[11px] md:text-sm lg:text-base font-medium capitalize border p-2 border-secondary text-secondary"
                >
                  Angular, React, Tailwind, PostgreSQL
                </div>
              </div>
              <h1 class="text-lg lg:text-2xl py-4">
                Software Developer I
                <div class="text-sm text-slate-400">
                  Bytesberry Technologies
                </div>
              </h1>
              <div class="text-justify text-sm md:text-base md:text-start">
                Skilled in full-stack development, including designing user
                interfaces, creating APIs, writing SQL queries, and setting up
                servers. Focused on building reliable and user-friendly
                applications.
              </div>
            </div>
            <div class="md:max-w-[46%] mt-10 md:mt-0">
              <div class="flex justify-between">
                <div
                  class="text-[11px] md:text-sm lg:text-base font-medium capitalize border p-2 border-secondary text-secondary"
                >
                  May 2024 - Aug 2024
                </div>
                <div
                  class="text-[11px] md:text-sm lg:text-base font-medium capitalize border p-2 border-secondary text-secondary"
                >
                  NodeJs, Express, MongoDB, JWT
                </div>
              </div>
              <h1 class="text-lg lg:text-2xl py-4">
                Backend Intern
                <div class="text-sm text-slate-400">Enfocar IT Solution</div>
              </h1>
              <div class="text-justify text-sm md:text-base md:text-start">
                As a backend developer I am working with Node.js, Express, and
                other technologies to build the backend. I am gaining valuable
                experience in backend development, APIs, databases, and
                integrating the full stack.
              </div>
            </div>
          </div>
          <div class="border-b my-14 border-ternary"></div>

          <div class="flex justify-between flex-wrap">
            <div class="md:max-w-[46%]">
              <div class="flex justify-between">
                <div
                  class="text-[11px] md:text-sm lg:text-base font-medium capitalize border p-2 border-secondary text-secondary"
                >
                  Nov 2020 - Oct 2023
                </div>
                <div
                  class="text-[11px] md:text-sm lg:text-base font-medium capitalize border p-2 border-secondary text-secondary"
                >
                  graduation
                </div>
              </div>
              <h1 class="text-lg lg:text-2xl py-4">
                NBBGC Tadong, Gangtok
                <div class="text-sm text-slate-400">
                  B Voc. Software Development
                </div>
              </h1>
              <div class="text-justify text-sm md:text-base md:text-start">
                Graduated with B.Voc in Software Development from NBBGC Tadong.
                The program built a strong foundation in computer programming,
                software design and development methodologies.
              </div>
            </div>
            <div class="md:max-w-[46%] mt-10 md:mt-0">
              <div class="flex justify-between">
                <div
                  class="text-[11px] md:text-sm lg:text-base font-medium capitalize border p-2 border-secondary text-secondary"
                >
                  Feb 2018 - March 2020
                </div>
                <div
                  class="text-[11px] md:text-sm lg:text-base font-medium capitalize border p-2 border-secondary text-secondary"
                >
                  Schooling
                </div>
              </div>
              <h1 class="text-lg lg:text-2xl py-4">
                Namthang Sr Sec School
                <div class="text-sm text-slate-400">Information Technology</div>
              </h1>
              <div class="text-justify text-sm md:text-base md:text-start">
                Completed 11th and 12th at Namthang Sr Sec School, majoring in
                Information Technology. IT specialization equipped me with
                computer fundamentals and programming skills for higher
                computing education.
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
