<div class="text-white pt-10">
  <div>
    <!-- Headings -->
    <div
      id="services-section"
      class="flex justify-center items-center flex-col"
    >
      <app-small-heading-wrapper
        [heading]="'My Services'"
      ></app-small-heading-wrapper>

      <div class="text-center">
        <app-large-heading-wrapper [heading]="'Crafting stories through'">
        </app-large-heading-wrapper>
        <app-large-heading-wrapper [heading]="'Code and innovation'">
        </app-large-heading-wrapper>
      </div>
    </div>

    <!-- Items -->
    <div class="mt-16">
      <div class="flex justify-center lg:justify-start gap-6 flex-wrap">
        <!-- 1st -->
        <div
          class="border-2 border-slate-700 rounded-sm p-3 md:max-w-[40%] lg:max-w-[30%]"
        >
          <div class="text-center">
            <ng-icon name="featherWind" class="text-7xl text-secondary" />
          </div>
          <div>
            <h1 class="text-center lg:text-2xl font-medium pb-2">
              Web Development
            </h1>
            <div class="text-slate-500 text-justify md:text-center">
              <span
                >Custom, scalable web applications that seamlessly blend front-end and back-end functionality.
              </span>
            </div>
          </div>
        </div>

        <!-- 2nd -->
        <div
          class="border-2 border-slate-700 rounded-sm p-3 md:max-w-[40%] lg:max-w-[30%]"
        >
          <div class="text-center">
            <ng-icon name="featherSliders" class="text-7xl text-secondary" />
          </div>
          <div>
            <h1 class="text-center lg:text-2xl font-medium pb-2">
              Logo Design
            </h1>
            <div class="text-slate-500 text-justify md:text-center">
              <span
                > Custom, impactful logo designs that capture your brand’s essence and make a lasting impression.
              </span>
            </div>
          </div>
        </div>

        <!-- 3rd -->
        <div
          class="border-2 border-slate-700 rounded-sm p-3 md:max-w-[40%] lg:max-w-[30%]"
        >
          <div class="text-center">
            <ng-icon name="featherCommand" class="text-7xl text-secondary" />
          </div>
          <div>
            <h1 class="text-center lg:text-2xl font-medium pb-2">
              App Development
            </h1>
            <div class="text-slate-500 text-justify md:text-center">
              <span
                >Scalable, user-friendly app development services that seamlessly integrate front-end and back-end functionality.
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
