<app-dashboard>
  <div class="mb-8 bg-white rounded-lg shadow-md p-6">
    <!-- If the content is there then show it -->
    <div *ngIf="emailDetails?.length > 0">
      <!-- <h1 class="text-2xl font-semibold mb-4">Contacts</h1> -->
      <table class="min-w-full table-auto">
        <thead>
          <tr class="text-left">
            <th class="px-4 py-2">#</th>
            <th class="px-4 py-2">Email</th>
            <th class="px-4 py-2">Unsubscribed?</th>
            <th class="px-4 py-2">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let email of emailDetails; let i = index"
            class="border-t hover:border hover:scale-x-100 hover:scale-y-105 hover:shadow-2xl transition-transform hover:bg-secondary hover:bg-opacity-10"
          >
            <td class="px-4 py-2">{{ i + 1 }}</td>
            <td class="px-4 py-2">{{ email?.email }}</td>
            <td class="ps-8 py-2">
              {{ email.is_unsubscribe ? "YES" : "NO" }}
            </td>
            <td class="ps-4 py-2 flex gap-2 items-center">
              <!-- <span class="cursor-pointer hover:text-red-700">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="size-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0"
                  />
                </svg>
              </span> -->

              <a [href]="'mailto:' + email?.email">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="size-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M8.625 9.75a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H8.25m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H12m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0h-.375m-13.5 3.01c0 1.6 1.123 2.994 2.707 3.227 1.087.16 2.185.283 3.293.369V21l4.184-4.183a1.14 1.14 0 0 1 .778-.332 48.294 48.294 0 0 0 5.83-.498c1.585-.233 2.708-1.626 2.708-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0 0 12 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018Z"
                  />
                </svg>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- When there is empty list -->
    <div *ngIf="emailDetails?.length < 0">
      <div
        class="flex justify-center items-center w-full h-[60vh] text-slate-400"
      >
        No contacts details found!
      </div>
    </div>
  </div>
</app-dashboard>
